.wrapper_home {
  width: 100%;
  .container_home {
    width: 85%;
    margin: 0px auto;
  }
}
.container_home {
  .content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0px;
  }
  .content1-left,
  .content1-right {
    width: 45%;
  }
  .content1-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
    span {
      line-height: 1.5rem;
    }
  }
  .content1-right {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%; /* Hoặc kích thước mong muốn */
      height: auto;
      transform: skewX(-10deg); /* Điều chỉnh góc nghiêng theo chiều ngang */
      display: block;
    }
  }
  .content2 {
    width: 100%;
    margin-bottom: 12px;
    .container_content2 {
      width: 75%;
      margin: 0px auto;
    }
    h2,
    .content2-desctiption {
      margin-bottom: 12px;
      text-align: center;
    }
    .content2-listcard {
      display: flex;
      align-items: center;
      gap: 24px;
      flex-wrap: wrap;
      justify-content: center;
      .card {
        width: calc(85% / 2);
        display: flex;
        gap: 12px;
        border-radius: 12px;
        border: 2px solid #aaa;
        .card-left,
        .card-right {
          width: 50%;
          img {
            width: 100%;
            height: 350px;
            border-radius: 12px;
            display: block;
            object-fit: cover;
          }
        }
        .card-right {
          padding: 12px;
          font-size: 14px;
          .description-card {
            line-height: 1.5rem;
          }
          h3 {
            font-size: 18px !important;
          }
          .button-see-more {
            width: 100%;
            margin-top: 24px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            button {
              padding: 6px 12px;
              font-size: 16px;
              background-color: #fff;
              border: 1px solid #aaa;
              border-radius: 8px;
              cursor: pointer;
              transition: 0.25s;
            }
            button:hover {
              background-color: var(--color-primary);
              color: #fff;
            }
          }
        }
      }
    }
  }
  .content3 {
    width: 100%;
    margin: 24px 0px;
    h2 {
      text-align: center;
      margin-bottom: 24px;
    }
    .container_content3 {
      width: 75%;
      margin: 0px auto;
      border: 2px solid #aaa;
      border-radius: 12px;
      padding: 48px;
      .list-card-content3 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
      }
      .list-card-content3 .item {
        width: calc(95% / 2);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }
    }
  }
  .content4 {
    width: 100%;
    text-align: center;
    margin: 48px 0px;
    .list-partner {
      width: 50%;
      margin: 0px auto;
      display: flex;
      flex-wrap: wrap;
      gap: 48px;
      align-items: center;
      justify-content: center;
      margin-top: 24px;
    }
  }
  .content5 {
    width: 100%;
    margin: 48px 0px;
    text-align: center;
    h2 {
      margin-bottom: 12px;
    }
    .item-content5 {
      width: 100%;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
  .content6 {
    width: 100%;
    margin: 48px 0px;
    text-align: center;
    h2 {
      margin-bottom: 12px;
    }
    .item-content6 {
      width: 100%;
      height: 300px;
      border: 1px solid #aaa;
      border-radius: 8px;
      padding: 12px;
      color: black;
      h3 {
        padding: 6px 0px;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .content1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .content1-left,
  .content1-right {
    width: 100% !important;
  }
  .content2-listcard {
    flex-direction: column;
    .card {
      width: 100% !important;
      flex-direction: column;
      img {
        width: 100% !important;
        height: 100% !important;
      }
      .card-left,
      .card-right {
        width: 100% !important;
      }
    }
  }
  .list-card-content3 {
    width: 100%;
    flex-direction: column;
    .item {
      width: 100% !important;
    }
  }
}

@media (max-width: 480px) {
  .content1-left,
  .content1-right {
    width: 45%;
  }
}
